<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yijiu.e520">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name="com.yijiu.e520.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //欢迎页面
        <activity
            android:name="com.yijiu.e520.ui.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //登录界面
        <activity
            android:name="com.yijiu.e520.ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
        //主界面
        <activity
            android:name="com.yijiu.e520.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"></activity>

        <!-- 可选-->
        <activity android:name="com.pgyersdk.activity.FeedbackActivity" />
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity" />
        //选择图片
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity" />
        <!-- 配置FileProvider 兼用Android N以上设备 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- 必选-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="f13f35a1cf12efb8304ff2a174ec98ea"></meta-data>
    </application>

</manifest>